.main-agencies {
  display: grid;
  width: 100%;
  justify-content: center;
}

.agency-card-container {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  grid-template-columns: repeat(2, 100px);
  height: 150px;
  grid-column-gap: 20px;
  border: 1px solid grey;
  padding: 20px;
  width: 320px;
}

.company-logo {
  display: grid;
  max-width: 30px;
}
.agency-card-info {
  display: grid;
  grid-template-columns: repeat(1, 190px);
  overflow-wrap: break-word;
}
.company-name {
  margin-right: 25px;
  font-size: 14px;
}
.company-info {
  display: grid;
  justify-content: left;
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 10px;
}
.company-info h5 {
  margin-bottom: 5px;
  overflow-wrap: break-word;
}
.icon-gap {
  margin-right: 10px;
  color: rgb(8, 8, 133);
}
.www-link a {
  text-decoration: none;
  color: rgb(134, 10, 10);
}
.www-link a:hover {
  color: rgb(33, 14, 204);
}

/* DESKTOP */
@media (min-width: 767px) {
  .agency-card-container {
    border: 1px solid grey;
  }
}
