.main-agencies {
  display: grid;
  width: 100%;
  justify-content: center;
}

.agency-card-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(2, 100px);
  height: 140px;
  grid-column-gap: 20px;
  background-color: var(--colors-bg-blue);
  padding: 20px;
  width: 320px;
}

.company-logo {
  display: grid;
  align-items: center;
}
.agency-card-info {
  display: grid;
  overflow-wrap: break-word;
}
.company-name {
  font-size: 14px;
  overflow: hidden;
}
.company-info {
  display: grid;
  justify-content: left;
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  grid-template-columns: repeat(1, 220px);
}
.company-info h5 {
  margin-bottom: 5px;
  overflow-wrap: break-word;
}
.icon-gap {
  margin-right: 10px;
  color: rgb(8, 8, 133);
}
.www-link a {
  color: rgb(33, 14, 204);
}
.www-link a:hover {
  color: rgb(166, 14, 204);
}

/* DESKTOP */

@media (min-width: 1200px) {
  .agency-card-container {
    width: 340px;
  }
}
