.modal {
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
}
.modal_content {
  background-color: rgb(243, 243, 243);
  margin-top: 30px;
  position: fixed;
  top: 250px;
  width: 80%;
  /* max-height: 0%; */
  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}
.pop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-icon {
  content: "x";
  cursor: pointer;
  background: var(--colors-logo);
  color: white;
  padding: 6px;
  width: 28px;
  line-height: 20px;
  text-align: center;
  font-size: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-card {
  display: flex;
  padding: 20px;
  background-color: var(--colors-bg-blue);
  width: 260px;
  height: 150px;
}
.pop-logo {
  margin: 20px 20px 20px 0;
}
.pop-img {
  width: 50px;
  height: auto;
}
.pop-info {
  height: 140px;
}
.pop-details {
  width: 340px;
  padding: 0 20px 20px 20px;
  text-align: center;
}
.pop-details li {
  list-style-type: none;
}
.pop-region {
  text-align: center;
  margin-top: 20px;
}
.pop-details h3 {
  margin-top: 20px;
}
.icons {
  display: flex;
  position: fixed;
  column-gap: 3px;
  top: 234px;
  left: 50%;
  height: 46px;
  align-items: flex-end;
  justify-content: flex-end;
  transform: translateX(-50%);
}
.pop-icon,
.pop-share,
.pop-close {
  margin: 0;
  padding: 6px 4px 2px 4px;
  color: white;
  width: 32px;
  height: 42px;
  background-color: var(--colors-logo);
  align-self: center;
  justify-self: center;
  /* border: none; */
}
.pop-close {
  font-size: 36px;
  padding: 6px 4px 2px 0px;
}
.pop-icon {
  font-size: 32px;
  width: 32px;
}
.pop-share {
  font-size: 32px;
}

.delete {
  font-size: 34px;
  padding: 7px 4px 2px 2px;
  width: 32px;
  color: white;
  background-color: red;
  align-self: center;
}
/* .show-details {
  display: block;

  background-color: aquamarine;
}
.show-details h2 {
  text-align: center;
  width: 100%;
} */

.details-button {
  border: none;
  color: var(--colors-logo);
  border-bottom: 1px solid var(--colors-logo);
  background-color: white;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 767px) {
  .modal {
    width: 50%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal_content {
    padding: 80px;
  }
  .pop-details {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .pop-card {
    width: 340px;
  }
}
