.logo-title {
  text-align: center;
  color: var(--colors-logo);
  font-size: 32px;
  font-weight: 700;
}
.logo-title a {
  text-decoration: none;
}

.logo-title a:visited {
  color: var(--colors-logo);
}
