.searchbar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inputField {
  width: 292px;
  padding-left: 6px;
  height: 35px;
  background-color: var(--colors-bg-input);
  border: none;
}

.resetButton {
  padding: 0 10px;
  color: white;
  background-color: rgb(8, 8, 133);
  border: none;
  margin-left: 8px;
  border-radius: 4px;
}
/* DESKTOP STYLES */
@media (min-width: 767px) {
  .searchbar {
    margin-bottom: 0;
  }
}
