.agency-form {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addAgencyWrapper {
  /* width: 100%; */
  /* background-color: aqua; */
}
